@layer nb.layout {
  .nb-center {
    box-sizing: content-box;
    max-inline-size: var(--nb-center-max, var(--nb-size-prose));
    margin-inline: auto;
    padding-inline: var(--nb-center-gutter, var(--nb-space-fluid-sm));
  }

  .nb-center--text {
    text-align: center;
  }

  .nb-center--intrinsic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
